*{
    margin:0;
    padding: 0
}
body{
    width:100%;
    height: 100%;
}
.top{
    width:100%;
    height:1em;
    background-color: rgb(70, 70, 70)
}
.header_1{
    padding-bottom: 3em;
    width: 100%;
    background: rgb(245, 245, 245);
    display: flex;
    flex-wrap: wrap
}
.per{
    width:30%
}
.header_1 img{
    padding:2em 3em;
}
.header_2{
    padding: 4em 0em 4em 1em;
    width:50%
}
.header_2 h1{
    font-size: 2.5em;
    text-transform: capitalize;
    color:rgb(50, 50, 50);
    font-family: Arial;
    margin-top:0.8em
}
.header_2 h3{
    font-size: 1.6em;
    line-height: 1.2em;
    text-transform: capitalize;
    color: #919191;
    font-family: Arial
}
.header_3{
    width:15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center
}
.header_3 input{
    background: #54ba4e;
    border:1px solid #54ba4e;
    padding: 0.6em 1em;
    color:white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    border-radius: 3px
}
.header_3 input:hover{
    background: rgb(50, 128, 50);
    border:1px solid rgb(50, 128, 50);
    cursor: pointer;
}
.container{
    height: 100%;
    background: #d7e0e7;
    display:flex;
    flex-wrap: wrap
}
.left{
    width: 54%;
    margin:2em 2em 0.5em 3.5em;
    line-height: 2em
}
.left_1{
    background: white;
    padding: 1.2em
}
.left_1 h4, .head_1{
    font-size: 1.3em;
    color: rgb(50, 50, 50);
    font-family: Arial, Helvetica, sans-serif
}
.left_1 p{
    margin-top: 1.3em;
    font-size: 1em;
    color: rgb(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif
}
.left_2{
    margin-top:2em;
    background: white;
    padding: 1.2em
}
.left_2 img{
    width:100%
}
.head_2{
    margin-top: 1.1em;
    text-align: center;
    font-size: 1em;
    color: #515151;
    font-family: Arial, Helvetica, sans-serif
}
.head_2:hover{
    text-decoration: underline;
    text-decoration-color: #313131;
    color:#313131;
    cursor: pointer;
}
.p_1{
    text-align: center;
    font-size: 1em;
    color: #919191;
    font-family: Arial, Helvetica, sans-serif
}
.left_2 img{
    margin:1.5em 0em
}
.p_2{
    font-size: 1em;
    color: rgb(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif
}
.btn{
    margin:2em 0em 3em 0em;
    text-align: center
}
.btn input, .btn_2 input, .btn_3 input, .btn_4 input{
    background: #8989ba;
    border:1px solid #8989ba;
    padding: 0.4em 0.8em;
    color:white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9em;
    border-radius: 3px
}
.btn input:hover, .btn_2 input:hover, .btn_3 input:hover, .btn_4 input:hover{
    background: #6666ba;
    border:1px solid #6666ba;
    cursor: pointer;
}
.left_3,.left_4,.left_5,.left_6,.left_7{
    background: white;
    display: flex;
    flex-wrap: wrap;
    padding:1em
}
.card_1{
    width:30%
}
.card_1 img{
    width: 100%;
    height: 50%
}
.card_2{
    margin:0em 0em 0em 1.5em;
    width:60%
}
.card_2 h3{
    font-size: 1.1em;
    color: #515151;
    font-family: Arial, Helvetica, sans-serif
}
.card_2 h3:hover, .card_3 h3:hover{
    text-decoration: underline;
    text-decoration-color: #313131;
    color:#313131;
    cursor: pointer;
}
.card_2 p, .card_3 p, .card_4 p, .left_10 p{
    font-size: 1em;
    color: rgb(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
    margin:1.1em 0em
}
.card_2 a, .card_3 a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 1em;
    color: #54ba4e
}
.card_2 a:hover, .card_3 a:hover{
    text-decoration: underline;
    text-decoration-color:rgb(50, 128, 50);
    color:rgb(50, 128, 50);
    cursor: pointer;
}
.left_8, .left_9, .left_10{
    margin-top:2em;
    background: white;
    padding: 1.2em
}
.left_8 h4, .left_9 h4, .left_10 h4{
    font-size: 1.3em;
    color: rgb(50, 50, 50);
    font-family: Arial, Helvetica, sans-serif
}
.card_3 h3,.card_4 h3{
    margin-top:1.5em;
    font-size: 1.1em;
    color: #515151;
    font-family: Arial, Helvetica, sans-serif
}
.card_3 span{
    background: #54ba4e;
    color:white;
    padding:0.2em;
    font-size:0.8em
}
.btn_2, .btn_3{
    margin:2em 0em 0em 0em;
}
.card_4 span{
    color: #919191;
}
.left_10{
    height: 75vh;
    margin-bottom:5em
}
.left_10 span{
    color:#54ba4e
}
.left_10 span:hover{
    text-decoration: underline;
    text-decoration-color:rgb(50, 128, 50);
    color:rgb(50, 128, 50);
    cursor: pointer;
}
.right{
    width:30%;
    margin:2em 1em 0.5em 1em;
    line-height: 2em
}
.right_1{
    background: white;
    padding: 1em
}
.right_1 h6{
    font-size: 1.1em;
    color: #515151;
    font-family: Arial, Helvetica, sans-serif
}
.right_1 p{
    margin:0.8em 0em;
    font-size: 1.1em;
    color: #54ba4e;
    font-family: Arial, Helvetica, sans-serif
}
.right_1 p:hover{
    text-decoration: underline;
    text-decoration-color:rgb(50, 128, 50);
    color:rgb(50, 128, 50);
    cursor: pointer;
}
.right_2{
    background: white;
    padding: 1.2em;
    margin-top:2em
}
.right_2 h4{
    font-size: 1.3em;
    color: rgb(50, 50, 50);
    font-family: Arial, Helvetica, sans-serif
}
.right_2 p{
    font-size: 1em;
    color: rgb(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
    margin:1.1em 0em
}
.card_5{
    margin:1em 0em
}
.card_5 ul{
    list-style: none
}
.card_5 ul li{
    display: inline-block;
    color: #515151;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold
}
.card_5 ul li:last-child{
    float: right;
    color: #919191;
    font-weight: 100
}
progress{
    width: 100%
}
.right_2 a, .right_3 a{
    text-decoration: none;
    color: #54ba4e;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.right_2 a:hover, .right_3 a:hover{
    text-decoration: underline;
    text-decoration-color:rgb(50, 128, 50);
    color:rgb(50, 128, 50);
    cursor: pointer;
}
.right_3, .right_4, .right_5, .right_6, .right_7, .right_8, .right_9{
    background: white;
    padding: 1.2em;
    margin-top:2em
}
.right_3 h4, .right_4 h4, .right_5 h4, .right_6 h4, .right_7 h4, .right_8 h4, .right_9 h4, .right_11 h4{
    font-size: 1.3em;
    color: rgb(50, 50, 50);
    font-family: Arial, Helvetica, sans-serif
}
.card_6 {
    margin-bottom:2em
}
.card_6 p {
    margin-top:1.5em;
    border-left: 6px solid #54ba4e;
    font-size: 1em;
    color: rgb(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em
}
.card_6 h3{
    margin-top:1em;
    color: #616161;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:1.7em
}
.card_6 h5{
    color: #919191;
    font-weight: 100;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:1.3em
}
.card_7{
    margin-top:1.5em
}
.card_7 h3{
    margin-top:1em;
    color: #616161;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.card_7 h5{
    color: #8f8f8f;
    font-weight: 550;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:1.7em
}
.card_7 span{
    color: #919191;
    font-weight: 100;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.right_5 h3{
    margin-top:1em;
    color: #616161;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

}
.right_5 span{
    color: #919191;
    font-weight: 100;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.right_6 p{
    margin-top: 1.3em;
    font-size: 1em;
    color: rgb(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif
}
.right_6 span{
    color: #54ba4e
}
.right_6 span:hover{
    text-decoration: underline;
    text-decoration-color:rgb(50, 128, 50);
    color:rgb(50, 128, 50);
    cursor: pointer;
}
.right_7 p{
    color: #919191;
    font-weight: 100;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin:0.5em 0em
}
.right_8 h3{
    color: #919191;
    font-weight: 100;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin:0.5em 0em
}
.right_8 h3:hover{
    text-decoration: underline;
    text-decoration-color: #313131;
    color:#313131;
    cursor: pointer;
}
.right_8 span{
    color: rgb(100, 100, 100);
    font-weight: 500
}
.right_9 ul{
    list-style: none;
    color: #919191;
    font-weight: 100;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin:0.5em 0em
}
.right_9 li:hover{
    text-decoration: underline;
    text-decoration-color: #313131;
    color:#313131;
    cursor: pointer;
}
.right_9 span{
    color:rgb(100, 100, 100)
}
.right_9 hr, .right_10 hr{
    margin:2.5em 0em
}
.right_10, .right_11{
    background: white;
    padding: 0em 1.2em 1.2em 1.2em;
}
.right_10 p, .right_11 p{
    font-size: 1em;
    color: rgb(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
    padding:1.1em 0em
}
.green{
    color:#54ba4e
}
.green:hover{
    text-decoration: underline;
    text-decoration-color:rgb(50, 128, 50);
    color:rgb(50, 128, 50);
    cursor: pointer;
}
.black{
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(50, 50, 50);
    font-family: Arial, Helvetica, sans-serif
}
.grey{
    color:#919191;
    border-bottom: 1px dotted #919191;
}
.grey:hover{
    color:#313131;
    border-bottom: 1px dotted #313131;
    cursor: pointer;
}
.btn_3 input{
    background: #54ba4e;
    border:1px solid #54ba4e;
}
.btn_3 input:hover{
    background: rgb(50, 128, 50);
    border:1px solid rgb(50, 128, 50);
}
footer{
    background: rgb(70, 70, 70);
    color:#a1aab4;
    text-align: center;
    font-weight: 100;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding:2em 0em
}
footer span{
    color: white
}